@model CMS_NetCore.DomainClasses.AttributItem


<form asp-action="Edit">

    <input type="hidden" asp-for="AttributItemId" />

    <div class="form-horizontal" style="padding:10px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="value" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="value" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="idfilter" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="idfilter" class="form-control" />
                <span asp-validation-for="idfilter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AttributGrpId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AttributGrpId" class="form-control" asp-items="ViewBag.AttributGrpId"></select>
                <span asp-validation-for="AttributGrpId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-actions text-left">
            <button type="submit" class="btn btn-info btn-round">
                <i class="icon-check"></i>
                ذخیره
            </button>
            <a data-dismiss="modal" class="btn btn-warning btn-round">
                <i class="icon-close"></i>
                بازگشت
            </a>
        </div>
    </div>
</form>

    <script type="text/javascript" language=javascript>
        $.validator.unobtrusive.parse(document);
    </script>

