@model CMS_NetCore.DomainClasses.User

<form asp-action="Edit" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="UserId" type="hidden" />
    <input asp-for="ActiveCode" type="hidden" />
    <input asp-for="AddedDate" type="hidden" />
    <input asp-for="Password" type="hidden" />
    <input asp-for="Profile" type="hidden" />

    <div class="portlet box border shadow">
        <div class="row">
            <div class="portlet-heading">
                <h2 class="col-md-10">افزودن</h2>
                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-info btn-round">
                        <i class="icon-check"></i>
                        ذخیره
                    </button>
                    <a asp-action="Index" class="btn btn-warning btn-round">
                        <i class="icon-close"></i>
                        بازگشت
                    </a>
                </div>
            </div>

            <div class=" col-md-6">
                <fieldset>

                    <div class="form-group">
                        <label asp-for="moblie" class="control-label"></label>
                        <input asp-for="moblie" class="form-control" />
                        <span asp-validation-for="moblie" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">نام :<small>(ضروری و حداقل 3 کاراکتر) </small></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RoleId" class="control-label"></label>
                        <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">رمز عبور <small>(ضروری، حداقل سه و حداکثر 10 کاراکتر)</small></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label">ایمیل<small>(ضروری)</small></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="ISActive" class="control-label"></label>
                        @Html.DropDownListFor(model => model.ISActive, new[] {
                                                                new SelectListItem() { Text = "فعال", Value = bool.TrueString },
                                                                new SelectListItem() { Text = "غیر فعال", Value = bool.FalseString },
                                                                }, "انتخاب کنید", new { @class = "form-control" })
                        <span asp-validation-for="ISActive" class="text-danger"></span>
                        <br />
                    </div>

                </fieldset>
            </div>
            <div class=" col-md-4 pull-left">
                <div class="form-group">
                    <div class="col-md-12">
                        <img src="~/Upload/Profile/@Model.Profile" width="250" height="250" class="thumbnail" />
                    </div>
                    <div class="file-upload">
                        <div class="fileinput input-group fileinput-new" data-provides="fileinput">

                            <span class="input-group-addon btn btn-default btn-file">
                                <span class="fileinput-new">انتخاب تصویر</span>
                                <span class="fileinput-exists">تغییر تصویر</span>
                                <input type="file" name="File" id="File" />
                                <input id="File_Content" name="File.Content" type="hidden" value="">
                            </span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">حذف</a>
                            <div class="form-control text-left" data-trigger="fileinput">
                                <i class="fa fa-file-picture-o pull-left fileinput-exists"></i>
                                <span class="fileinput-filename"></span>
                                <input id="File_Name" name="File.Name" type="hidden" value="">
                            </div>
                        </div>
                    </div>
                    <span class="field-validation-valid text-danger" data-valmsg-for="File.Name" data-valmsg-replace="true"></span>
                    <span class="field-validation-valid text-danger" data-valmsg-for="File.Content" data-valmsg-replace="true"></span>
                    <span class="field-validation-valid text-danger" data-valmsg-for="File" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
    </div>

</form>



