@model IEnumerable<CMS_NetCore.DomainClasses.Menu>
@{
    int depth = ViewBag.Depth;
    int parentId = ViewBag.ParentId;
    int moduleId = ViewBag.moduleId ?? 0;

    foreach (var item in Model.Where(x => x.Depth == depth && x.ParentId == parentId))
    {
        string check = "";
        if (Model.Any(x => x.ModulePages.Any(y => y.MenuId == item.Id && y.ModuleId == ViewBag.moduleId)))
        {
            check = "checked";
        }
        <div><input class="form-control" id="Page[@item.Id]" name="Page[@item.Id]" type="checkbox" @check />  @string.Concat(Enumerable.Repeat(" ┊ ", Convert.ToInt32(item.Depth))) @Html.DisplayFor(modelitem => item.MenuTitle)</div>

        if (Model.Any(s => s.ParentId == item.Id))
        {
            @await Component.InvokeAsync("ModuleMenuList", new { depth = (item.Depth + 1), parentId = item.Id, menuGroupId = item.MenuGroupId, moduleId = moduleId })
        }
        }
    }