@model IEnumerable<CMS_NetCore.DomainClasses.MenuGroup>
@{
    int moduleId = ViewBag.moduleId ?? 0;

    foreach (var menuGroup in Model)
    {
        <div class="col-md-3">
            <br />
            <label class="label-info">@menuGroup.Title</label>
            <br />
            @await Component.InvokeAsync("ModuleMenuList", new { depth = 0, parentId = 0, menuGroupId = menuGroup.Id, moduleId = moduleId })
        </div>
    }
}