@model IEnumerable<CMS_NetCore.DomainClasses.Component>
<table class="table text-info">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Create" asp-controller="@item.AdminController" asp-route-id="@item.Id"><span class="text-info">@item.Name</span> <span class="text-warning">@item.Description</span></a>
            </td>
        </tr>
    }
</table>
