@model IEnumerable<CMS_NetCore.DomainClasses.ProductGroup>
@{
    int depth = ViewBag.Depth;
    int parentId = ViewBag.ParentId;

    foreach (var item in Model.Where(x=>x.Depth == depth && x.ParentId == parentId))
    {
        <option value="@item.ProductGroupId"> @string.Concat(Enumerable.Repeat(" - ", Convert.ToInt32(item.Depth))) @item.GroupTitle </option>
        if (Model.Any(s => s.ParentId == item.ProductGroupId))
        {
            @await Component.InvokeAsync("GroupsOfProduct", new { depth =  (item.Depth + 1) , parentId = item.ProductGroupId })
        }
    }
}
