@model CMS_NetCore.DomainClasses.AttributGrp

@{
    Layout = null;
}
<div style="padding:10px">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AttributGrpId" />
        <button type="submit" class="btn btn-danger btn-round">
                <i class="icon-check"></i>
                حذف
        </button> 
        <a asp-action="Index" class="btn btn-warning btn-round">
            <i class="icon-close"></i>
            بازگشت
        </a>
    </form>
</div>

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>

