@model CMS_NetCore.DomainClasses.DetailItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DetailItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetailItemId" />
            <div class="form-group">
                <label asp-for="DetailTitle" class="control-label"></label>
                <input asp-for="DetailTitle" class="form-control" />
                <span asp-validation-for="DetailTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailType" class="control-label"></label>
                <input asp-for="DetailType" class="form-control" />
                <span asp-validation-for="DetailType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailGroupId" class="control-label"></label>
                <select asp-for="DetailGroupId" class="form-control" asp-items="ViewBag.DetailGroupId"></select>
                <span asp-validation-for="DetailGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

